@import "tailwindcss";

:root {
  --background: #f4f4f4;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --new-roman: 'Times New Roman', Times, serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}
